<section class="about">
  <div class="container">
    <div class="about-content">
      <ul class="about-list">
        <li class="about-item">
          <div class="about-signature">
            <h2 class="about-signature-text">About us</h2>
          </div>
        </li>
        <li class="about-item">
          <h3 class="about-title title">
            Our craftsmanship: creating unique handmade furniture
          </h3>
        </li>
        <li class="about-item">
          <p class="about-text">
            Discover the inspiration behind our modern and minimalist designs,
            and see how we bring them to life through our skilled craftsmanship.
          </p>
        </li>
        <li class="about-item">
          <ul class="about-stat-list">
            <li class="about-stat-item">
              <p class="statistic">5+</p>
              <p class="statistic-content">
                Years of experience creating handcrafted furniture
              </p>
            </li>
            <li class="about-stat-item">
              <p class="statistic">100%</p>
              <p class="statistic-content">
                Sustainably sourced materials used in all of our furniture
              </p>
            </li>
            <li class="about-stat-item">
              <p class="statistic">500+</p>
              <p class="statistic-content">
                Unique furniture designs crafted by our skilled artisans
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="../img/product-sofa.jpg 1x, ../img/product-sofa-2x.jpg 2x"
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ../img/product-sofa-tab.jpg    1x,
          ../img/product-sofa-tab-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../img/product-sofa-mob.jpg    1x,
          ../img/product-sofa-mob-2x.jpg 2x
        "
        media="(min-width:375px)"
      />
      <img
        src="../img/product2.jpg"
        alt="High-end curved white sofa"
        width="767"
        height="400"
      />
    </picture>
  </div>
</section>
