<section class="clients">
  <div class="clients-container">
    <h2 class="clients-title">Clients reviews</h2>
    <div class="clients-card">
      <img
        class="clients-img"
        src="../img/clients/clients1.jpg"
        alt="Photo Alexandra Dream"
      />
      <h3 class="clients-subtitle">Alexandra Dream</h3>
      <span class="clients-term">1 week ago</span>
      <p class="clients-text">
        I was blown away by the quality and craftsmanship of the furniture I
        received from this company. Each piece was unique and beautifully
        designed, and you can tell that a lot of thought and care goes into
        every detail.
      </p>
    </div>
  </div>
</section>
