<section class="clients" id="reviews">
  <div class="clients-container">
    <h2 class="clients-title">Clients reviews</h2>
    <ul class="clients-list">
      <li class="clients-item">
        <div class="clients-card">
          <div class="clients-card-top">
            <img
              class="clients-img"
              srcset="
                /img/clients/clients1.jpg    1x,
                /img/clients/clients1@2x.jpg 2x
              "
              src="/img/clients/clients1.jpg"
              alt="Photo Alexandra Dream"
              width="48"
              height="48"
            />
            <div class="clients-card-top-name">
              <h3 class="clients-subtitle">Alexandra Dream</h3>
              <span class="clients-term">1 week ago</span>
            </div>
          </div>
          <p class="clients-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </div>
      </li>
      <li class="clients-item tabl">
        <div class="clients-card">
          <div class="clients-card-top">
            <img
              class="clients-img"
              srcset="
                /img/clients/clients2.jpg    1x,
                /img/clients/clients2@2x.jpg 2x
              "
              src="/img/clients/clients2.jpg"
              alt="Photo James Williams"
              width="48"
              height="48"
            />
            <div class="clients-card-top-name">
              <h3 class="clients-subtitle">James Williams</h3>
              <span class="clients-term">A week ago</span>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </div>
      </li>
      <li class="clients-item desktop">
        <div class="clients-card">
          <div class="clients-card-top">
            <img
              class="clients-img"
              srcset="
                /img/clients/clients3.jpg    1x,
                /img/clients/clients3@2x.jpg 2x
              "
              src="/img/clients/clients3.jpg"
              alt="Photo Emily Watson"
              width="48"
              height="48"
            />
            <div class="clients-card-top-name">
              <h3 class="clients-subtitle">Emily Watson</h3>
              <span class="clients-term">3 week ago</span>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
