<section class="price">
    <div class="container">
    <h2>Chairs Tables Dressers Sofas Price.</h2>
    <ul class="price-list">
        <li class="price-item">
            <h3 class="price-subtitle">Chairs</h3>
            <p class="price-text">from 200$</p>
        </li>
        <li>
            <h3 class="price-subtitle">Tables</h3>
            <p class="price-text">from 250$</p>
        </li>
        <li>
            <h3 class="price-subtitle">Dressers</h3>
            <p class="price-text">from 300$</p>
        </li>
        <li>
            <h3 class="price-subtitle">Sofas</h3>
            <p class="price-text">from 500$</p>
        </li>
    </ul>
</div>
</section>