<section class="price" id="price">
  <div class="price-container container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price.</h2>
    <ul class="price-list">
      <li class="price-item">
        <div class="price-info">
          <h3 class="price-subtitle">
            <span class="price-line"></span>
            Chairs
          </h3>
          <p class="price-text">from 200$</p>
        </div>
      </li>
      <li class="price-item">
        <div class="price-info">
          <h3 class="price-subtitle">
            <span class="price-line"></span>Tables
          </h3>
          <p class="price-text">from 250$</p>
        </div>
      </li>
      <li class="price-item ">
        <div class="price-info">
          <h3 class="price-subtitle">
            <span class="price-line"></span>Dressers
          </h3>
          <p class="price-text">from 300$</p>
        </div>
      </li>
      <li class="price-item">
        <div class="price-info">
          <h3 class="price-subtitle">
            <span class="price-line"></span>Sofas
          </h3>
          <p class="price-text">from 500$</p>
        </div>
      </li>
    </ul>
  </div>
</section>