<section class="products" id="products">
  <div class="products-container">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../img/products/product1-desktop.jpg    1x,
              ../img/products/product1-desktop@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/products/product1-tab.jpg    1x,
              ../img/products/product1-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/products/product1-mob.jpg    1x,
              ../img/products/product1-mob@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            src="../img/products/product1-mob.jpg"
            alt="Dresser"
            width="343"
            height="300"
          />
        </picture>
        <p class="products-text">Minimalist storage solutions</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../img/products/product2-desktop.jpg    1x,
              ../img/products/product2-desktop@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/products/product2-tab.jpg    1x,
              ../img/products/product2-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/products/product2-mob.jpg    1x,
              ../img/products/product2-mob@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            src="../img/products/product2-mob.jpg"
            alt="Blue sofa"
            width="343"
            height="300"
          />
        </picture>
        <p class="products-text">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../img/products/product3-desktop.jpg    1x,
              ../img/products/product3-desktop@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/products/product3-tab.jpg    1x,
              ../img/products/product3-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/products/product3-mob.jpg    1x,
              ../img/products/product3-mob@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            src="../img/products/product3-mob.jpg"
            alt="Table and chairs"
            width="343"
            height="300"
          />
        </picture>
        <p class="products-text">Sleek and simple tables</p>
      </li>
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../img/products/product4-desktop.jpg    1x,
              ../img/products/product4-desktop@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/products/product4-tab.jpg    1x,
              ../img/products/product4-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/products/product4-mob.jpg    1x,
              ../img/products/product4-mob@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            src="../img/products/product4-mob.jpg"
            alt="Blue chair"
            width="343"
            height="300"
          />
        </picture>
        <p class="products-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
