<section>
  <h2>Bestsellers</h2>
  <ul>
    <li>
      <picture>
        <source
          srcset="
            ../img/sellers/bed-desk.jpg    1x,
            ../img/sellers/bed-desk-2x.jpg 2x
          "
          media="(min-width:1096px)"
        />
        <source
          srcset="
            ../img/sellers/bed-tab.jpg    1x,
            ../img/sellers/bed-tab-2x.jpg 2x
          "
          media="(min-width:704px)"
        />
        <source
          srcset="
            ../img/sellers/bed-mob.jpg    1x,
            ../img/sellers/bed-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img src="../img/sellers/bed-desk.jpg" alt="platform-bed" width="704" />
      </picture>
      <h4>The modern platform bed</h4>
      <p>750$</p>
    </li>
    <li>
      <ul>
        <li>
          <picture>
            <source
              srcset="
                ../img/sellers/cosy-chair-desk.jpg    1x,
                ../img/sellers/cosy-chair-desk-2x.jpg 2x
              "
              media="(min-width:1096px)"
            />
            <source
              srcset="
                ../img/sellers/cosy-chair-tab.jpg    1x,
                ../img/sellers/cosy-chair-tab-2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ../img/sellers/cosy-chair-mob.jpg    1x,
                ../img/sellers/cosy-chair-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="../img/sellers/cosy-chair-desk.jpg"
              alt="cosy-chair"
              width="343"
            />
          </picture>

          <h4>The Cozy Lounge Chair</h4>
          <p>230$</p>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/sellers/accent-chair-desk.jpg    1x,
                ../img/sellers/accent-chair-desk-2x.jpg 2x
              "
              media="(min-width:1096px)"
            />
            <source
              srcset="
                ../img/sellers/accent-chair-tab.jpg    1x,
                ../img/sellers/accent-chair-tab-2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ../img/sellers/accent-chair-mob.jpg    1x,
                ../img/sellers/accent-chair-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="../img/sellers/accent-chair-desk.jpg"
              alt="industrial-chair"
              width="343"
            />
          </picture>

          <h4>The industrial accent chair</h4>
          <p>250$</p>
        </li>
      </ul>
    </li>
    <li>
      <ul class="is-hidden">
        <li>
          <picture>
            <source
              srcset="
                ../img/sellers/sleek-stand-desk.jpg    1x,
                ../img/sellers/sleek-stand-desk-2x.jpg 2x
              "
              media="(min-width:1096px)"
            />
            <source
              srcset="
                ../img/sellers/sleek-stand-tab.jpg    1x,
                ../img/sellers/sleek-stand-tab-2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <!-- <source
              srcset="
                ../img/sellers/sleek-stand-mob.jpg    1x,
                ../img/sellers/sleek-stand-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            /> -->
            <img
              src="../img/sellers/sleek-stand-desk.jpg"
              alt="sleek-stand"
              width="343"
            />
          </picture>

          <h4>The sleek stand</h4>
          <p>300$</p>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/sellers/sofa-desk.jpg    1x,
                ../img/sellers/sofa-desk-2x.jpg 2x
              "
              media="(min-width:1096px)"
            />
            <source
              srcset="
                ../img/sellers/sofa-tab.jpg    1x,
                ../img/sellers/sofa-tab-2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <!-- <source
              srcset="
                ../img/sellers/sofa-mob.jpg    1x,
                ../img/sellers/sofa-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            /> -->
            <img
              src="../img/sellers/sofa-desk.jpg"
              alt="minimalist-sofa"
              width="343"
            />
          </picture>

          <h4>The minimalist sofa</h4>
          <p>650$</p>
        </li>
      </ul>
    </li>
  </ul>
</section>
