<section class="sellers" id="bestsellers">
  <div class="container">
    <h2 class="sellers-title">Bestsellers</h2>

    <ul class="sellers-list">
      <li>
        <picture>
          <source
            srcset="
              /img/sellers/bed-desk.jpg    1x,
              /img/sellers/bed-desk-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/sellers/bed-tab.jpg 1x, /img/sellers/bed-tab-2x.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/sellers/bed-mob.jpg 1x, /img/sellers/bed-mob-2x.jpg 2x"
            media="(min-width:320px)"
          />
          <img src="/img/sellers/bed-desk.jpg" alt="platform-bed" />
        </picture>
        <p class="sellers-item-name">The modern platform bed</p>
        <p class="sellers-item-price">750$</p>
      </li>
      <li class="sellers-item-two">
        <ul class="sellers-small-list">
          <li>
            <picture>
              <source
                srcset="
                  /img/sellers/cosy-chair-desk.jpg    1x,
                  /img/sellers/cosy-chair-desk-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/sellers/cosy-chair-tab.jpg    1x,
                  /img/sellers/cosy-chair-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/sellers/cosy-chair-mob.jpg    1x,
                  /img/sellers/cosy-chair-mob-2x.jpg 2x
                "
                media="(min-width:320px)"
              />
              <img src="/img/sellers/cosy-chair-desk.jpg" alt="cosy-chair" />
            </picture>

            <p class="sellers-item-name">The Cozy Lounge Chair</p>
            <p class="sellers-item-price">230$</p>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  /img/sellers/accent-chair-desk.jpg    1x,
                  /img/sellers/accent-chair-desk-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/sellers/accent-chair-tab.jpg    1x,
                  /img/sellers/accent-chair-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/sellers/accent-chair-mob.jpg    1x,
                  /img/sellers/accent-chair-mob-2x.jpg 2x
                "
                media="(min-width:320px)"
              />
              <img
                src=" /img/sellers/accent-chair-desk.jpg"
                alt="industrial-chair"
              />
            </picture>

            <p class="sellers-item-name">The industrial accent chair</p>
            <p class="sellers-item-price">250$</p>
          </li>
        </ul>

        <ul class="sellers-small-list sellers-list-item">
          <li>
            <picture>
              <source
                srcset="
                  /img/sellers/sleek-stand-desk.jpg    1x,
                  /img/sellers/sleek-stand-desk-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/sellers/sleek-stand-tab.jpg    1x,
                  /img/sellers/sleek-stand-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <img src="/img/sellers/sleek-stand-desk.jpg" alt="sleek-stand" />
            </picture>

            <p class="sellers-item-name">The sleek stand</p>
            <p class="sellers-item-price">300$</p>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  /img/sellers/sofa-desk.jpg    1x,
                  /img/sellers/sofa-desk-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/sellers/sofa-tab.jpg    1x,
                  /img/sellers/sofa-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />

              <img src="/img/sellers/sofa-desk.jpg" alt="minimalist-sofa" />
            </picture>

            <p class="sellers-item-name">The minimalist sofa</p>
            <p class="sellers-item-price">650$</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
