<section class="subscription">
    <div class="subscription-div container">
    <h2 class="subscription-title">Newsletter</h2>
    <p class="subscription-p">Every week we will send you new designs and information about sales.</p>
    <form class="subscription-form">
        <label class="subscription-label">
            <input class="subscription-input" name="user-name"  type="text" id="user-name" placeholder="Name" minlength="2" maxlength="16">
        </label>
        <label class="subscription-label">
            <input class="subscription-input" name="user-email"  type="text" id="user-email" placeholder="Email">
        </label>
          <div class="subscription">
            <input class="form-checkbox visually-hidden" id="user-subscribe" type="checkbox" value="true" name="user-subscribe"/>
            <label class="form-label-subscribe" for="user-subscribe">
              <span class="label-span">
                <svg class="form-icon-checkbox" width="10" height="8">
                  <use href="#"></use>
                </svg>
              </span>
              Agree to subscribe to the newsletter
            </label>
          </div>
          <button class="form-btn" type="submit">Send</button>
    </form>
    </div>
    <div class="subscribe-img">

    </div>
</section>