.wrapper-menu {
   background: var(--light-blue);
}
.header-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.close-btn {
   border: none;
   background-color: transparent;
   position: absolute;
   top: 28px;
   right: 0;
}
.header-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   padding-top: 114px;
}
.header-item {
   margin-bottom: 17px;
}
.header-item:last-child {
   margin-bottom: 0;
}


.header-link {
   font-size: 16px;
   color: var(--blue-font);
   font-weight: 400;
   line-height: 1.5;
}
.header-wrapper {
   height: 88px;
   background-color: var(--light-blue);
   align-items: center;
}
.js-menu-container {
   position: relative;
   width: 100%;
   height: 100vh;
   position: fixed;
   overflow: hidden;
   z-index: 1000;
   transform: translateX(-100%);
   background-color: var(--white);
   transition-duration: 250ms;
   box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
   padding: 0 16px;
}
.menu-toggle {
   background-color: transparent;
   height: 32px;
   width: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   cursor: pointer;
   border: none;
   outline: none;
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 28px;
   right: 16px;
}
.header-logo {
   display: block;
   padding: 36px 0;
}
.header-menu {
   padding-left: 16px;
}
.is-open {
   transform: translateX(0%);
}
.header-navigation-desktop {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-desktop {
   background-color: var(--light-blue);
}
.header-list-desktop {
   display: flex;
   gap: 30px;
}
.header-link-desktop {
   color: var(--blue-font);
   line-height: 1.5;
   font-size: 18px;
}

@media screen and (min-width: 768px) {
   .header-link {
      font-size: 18px;
   }
   .header-item {
      margin-bottom: 30px;
   }
   .header-item:last-child {
      margin-bottom: 0;
   }
   .header-list {
      padding-top: 150px;
   }
   .header-logo svg {
      width: 117px;
   }
}
@media screen and (max-width: 1440px) {
   .header-desktop {
      display: none;
   }
}
@media (min-width: 1440px) {
   .header-wrapper {
      display: none;
   }
   .header-desktop {
      display: block;
   }
}