
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.price {
}

.price-container {
  max-width: 343px;
  padding: 64px 16px;
  margin: 0 auto;
  padding-bottom: 0;
}

.price-list {
}

.price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-top: 0.1rem solid #0a224a;
}

.price-item:last-child {
  border-bottom: 0.1rem solid #0a224a;
}

.price-subtitle {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 30px 0px;
  transition: all 0.3s ease, transform 0.3s ease;
}

.price-text {
  color: var(--blue-font, #0a224a);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  padding: 0px 0px;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0px;
  height: 1px;
  background-color: #0a224a;
  opacity: 0;
  transition: all 0.3s ease, transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .price-container {
    padding-top: 0;
  }
  .price {
    padding: 100px 32px;
    padding-bottom: 0;
  }

  .price-subtitle {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-item {
    margin: 0 auto;
    max-width: 1096px;
  }

  .price-subtitle {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-item:hover .price-line,
  .price-item:focus .price-line {
    opacity: 1;
    transform: translateY(-50%) translateX(-20px);
    width: 50px;
  }

  .price-item:hover .price-subtitle,
  .price-item:focus .price-subtitle {
    margin-left: 40px;
  }
}