
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

.price {
    background-color: var(--light-blue);
  }
  
  .price-container {
    max-width: 343px;
    padding: 64px 16px;
    margin: 0 auto;
  }
  
  .price-list {
    
  }
  
  .price-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

  }


  .price-item:first-child::before,
  .price-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #0a224a;
  }
  
  .price-item::before {
    top: 0;
  }
  
  .price-item::after {
    bottom: 0;
  }
  
  .price-subtitle {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height:1.5;
    padding: 30px 0px;
  } 
  
  .price-text {
    color: var(--blue-font, #0a224a);
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height:1.5;
    margin: 0px 0px;
  }

  .price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  @media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {
 

    .price-container {
        padding: 100px 32px;
    } 

    .price-subtitle {
        font-size: 32px;
        line-height:1.4;
    }

    .price-item {
        max-width: 768px;;
    }

}

@media screen and (min-width: 1440px) {


    .price-item {
        max-width: 1096px;
    }

    .price-subtitle {
        font-size: 32px;
        line-height:1.4;

    }

}