.sellers {
  background: var(--white);
  color: var(--blue-font);
  padding: 64px 16px;
}

.sellers-title {
  font-family: inherit;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.sellers-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.sellers-small-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.sellers-list-item:last-child {
  display: none;
}
.sellers-item-name {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 10px;
}
.sellers-item-price {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-grow-big {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-big:hover,
.hvr-grow-big:focus,
.hvr-grow-big:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .sellers {
    padding: 100px 32px;
  }
  .sellers-list-item:last-child {
    display: flex;
  }
  .sellers-title {
    font-size: 32px;
    line-height: 1.41;
    margin-bottom: 30px;
  }
  .sellers-item-name {
    font-size: 18px;
    line-height: 1.33;
  }
  .sellers-item-price {
    font-size: 18px;
    line-height: 1.33;
  }

  .sellers-list {
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: row;
    justify-content: center;
  }
  .sellers-item-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
  }
  .sellers-small-list {
    gap: 32px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .sellers {
    padding: 100px 172px;
  }
  .sellers-list {
    display: flex;
    align-items: flex-start;
    gap: 0 24px;
  }
  .sellers-item-two {
    gap: 30px 0;
  }
  .sellers-small-list {
    display: flex;
    gap: 20px;
  }
}
