/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./price.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./clients.css');
@import url('./subscription.css');
@import url('./footer.css');

:root {
  --blue-font:#0A224A;
  --dark-grey: #7A7A7A;
  --grey: #B6B6B6;
  --light-grey: #D9D9D9;
  --light-blue: #F7FAFF;
  --white: #fff;
}

  body {
    font-family: 'Roboto', sans-serif;
  }
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
